$white: #fff;
$ribbon-background: #cce5ff;
$ribbon-border: #b8daff;
$ribbon-color: #004085;
$emergency-background: #f8d7da;
$emergency-border: #f5c6cb;
$emergency-color: #721c24;
$alert-background: #fff3cd;
$alert-border: #ffeeba;
$alert-color: #856404;
$notice-background: #d4edda;
$notice-border: #c3e6cb;
$notice-color: #155724;